.bmc-magazine-scheduling {
  &__header {
    @include bmc-card-header();
    &--create {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__body {
    @include bmc-card-body();
  }

  &__create {
    margin-top: .75rem;
    margin-bottom: .75rem;
  }
}
