.bmc-scheduling-component {
  @include bmc-base();
  @include bmc-card();
  letter-spacing: .1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .24);

  &__header {
    @include bmc-card-header();
  }
}

.bmc-schedule-tab {
  @include bmc-animate($name: bmc-fade-in, $duration: 500ms);
  &__header {
    @include bmc-card-header();
    &--with-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__body {
    @include bmc-card-body();
  }

  &__create {
    margin-top: .75rem;
    margin-bottom: .75rem;
  }
}

.bmc-schedule-list {
  @include bmc-list-group();

  &__item {
    @include bmc-list-group-item();

    &--view {
      display: flex;
      justify-content: space-between;
    }
  }

  &__product-name {
    margin-bottom: map-get($bmc-spacers, 1) / 2;
    font-size: $bmc-font-size-sm;
    color: $bmc-gray-600;
  }

  &__schedule-name {
    font-weight: $bmc-font-weight-bold;
    word-break: break-word;
  }

  &__sequence {
    font-size: $bmc-font-size-sm;
    color: $bmc-gray-600;
  }
}

.bmc-schedule-edit {
  @include bmc-form-group();

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}

.bmc-schedule-field {
  margin-top: map-get($bmc-spacers, 1);

  &:first-child {
    margin-top: 0;
  }
}
