.vue-treeselect {
  $self: &;

  &__control {
    border-radius: 0;
  }

  &__option--disabled {
    #{ $self } {
      &__checkbox-container {
        display: none;
      }
      &__label-container {
        color: $bmc-gray-600;
        cursor: pointer;
      }
    }
  }

  &--disabled {
    cursor: not-allowed;
  }

  &--open-below {
    #{ $self } {
      &__menu {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  &--open-above {
    #{ $self } {
      &__menu {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
