.vdatetime-popup {
  font-family: $bmc-base-font-family;
  &__title {
    font-size: 18px;
  }
  &__header {
    padding: 1.25rem;
    background-color: $bmc-primary;
  }
  &__actions {
    padding: .75rem;
  }
  &__actions__button {
    @include bmc-button();
    &--confirm {
      @include bmc-button-variant($bmc-success, $bmc-success);
    }
    &--cancel {
      @include bmc-button-variant($bmc-warning, $bmc-warning);
    }
  }
}

.vdatetime-input {
  cursor: pointer;
}

.vdatetime-calendar {
  &__month__day {
    &--selected > span > span {
      background-color: $bmc-primary;
    }
    &--selected:hover > span span {
      background-color: darken($bmc-primary, 7.5%);
    }
  }
}

.vdatetime-month-picker,
.vdatetime-year-picker,
.vdatetime-time-picker {
  &__item {
    &--selected {
      color: $bmc-primary;
    }
  }
}
