@mixin calculate-autocomplete-height(
  $font-size: $input-font-size,
  $lint-height: $input-line-height,
  $padding-y: $input-padding-y,
  $border-width: $input-border-width,
  $num: 8,
) {
  max-height: calc((((#{$font-size} * #{$lint-height}) + (#{$padding-y * 2})) * #{$num}) + #{$border-width * 2});
}

.autocomplete {
  @extend .form-group;
  position: relative;

  &__input {
    @extend .form-control;
  }

  &__input-group {
    @extend .input-group;
  }

  &__input-group-append {
    @extend .input-group-append;
  }

  &__results {
    @include border-radius($input-border-radius);
    @include box-shadow($dropdown-box-shadow);
    @include calculate-autocomplete-height();
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: $zindex-dropdown;
    padding: 0;
    margin: 0;
    margin-top: .25rem;
    overflow: scroll;
    color: $input-color;
    background-color: $input-bg;
    border: $input-border-width solid $input-border-color;
  }

  &__result {
    padding: $input-padding-y $input-padding-x;
    text-align: left;
    list-style: none;
    cursor: pointer;

    &:hover {
      color: $white;
      background-color: $primary;
    }

    &--empty {
      &:hover {
        color: $input-color;
        background-color: initial;
      }
    }
  }
}
