@mixin calculate-autocomplete-height(
  $font-size: $input-font-size,
  $lint-height: $input-line-height,
  $padding-y: $input-padding-y,
  $border-width: $input-border-width,
  $num: 8,
) {
  max-height: calc((((#{$font-size} * #{$lint-height}) + (#{$padding-y * 2})) * #{$num}) + #{$border-width * 2});
}

.autocomplete {
  @extend .form-group;
  position: relative;

  &__input {
    @extend .form-control;
  }

  &__input-group {
    @extend .input-group;
  }

  &__input-group-append {
    @extend .input-group-append;
  }

  &__results {
    @include border-radius($input-border-radius);
    @include box-shadow($dropdown-box-shadow);
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: $zindex-dropdown;
    max-height: 300px;
    padding: 0;
    margin: 0;
    margin-top: .25rem;
    overflow: scroll;
    background-color: $input-bg;
    border: $input-border-width solid $input-border-color;

    &--scheduling {
      max-height:
        calc(
          (
            (
              (#{$input-font-size} * #{$input-line-height}) + (#{$font-size-sm} * #{$input-line-height}) + (#{$input-padding-y * 2})
            ) * 6
          )
        );
    }
  }
}

.autocomplete-result {
  $self: &;
  padding: $input-padding-y $input-padding-x;
  text-align: left;
  list-style: none;
  cursor: pointer;

  &:hover {
    color: $white;
    background-color: $primary;
    #{ $self } {
      &__product-name {
        color: $gray-200;
      }
    }
  }

  &__product-name {
    display: block;
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
    color: $gray-600;
  }

  &__section-name {
    font-weight: $font-weight-bold;
  }

  &--empty {
    &:hover {
      color: $input-color;
      background-color: initial;
    }
  }
}
