.btn {
  // @extend .btn;

  &-loading {
    cursor: wait;
  }

  &--secondary-outline {
    @extend .btn-outline-secondary;
    svg {
      fill: $gray-600;
    }

    &:hover svg {
      fill: $white;
    }

    &:disabled svg {
      fill: $gray-600;
    }
  }

  &--danger-outline {
    @extend .btn-outline-danger;
    svg {
      fill: $danger;
    }

    &:hover svg {
      fill: $white;
    }

    &:disabled svg {
      fill: $danger;
    }
  }
}
