.btn {
  // @extend .btn;
  font-weight: 300;
  box-shadow: none;

  &-loading {
    cursor: wait;
  }

  &-outline-primary {
    svg {
      fill: $primary;
    }
    &:hover svg {
      fill: $white;
    }
    &:disabled svg {
      fill: $primary;
    }
  }

  &-outline-secondary {
    svg {
      fill: $secondary;
    }
    &:hover svg {
      fill: $white;
    }
    &:disabled svg {
      fill: $secondary;
    }
  }
  &-success {
    svg {
      fill: $white;
    }
  }

  &-outline-success {
    svg {
      fill: $success;
    }
    &:hover svg {
      fill: $white;
    }
    &:disabled svg {
      fill: $success;
    }
  }

  &-outline-danger {
    svg {
      fill: $danger;
    }
    &:hover svg {
      fill: $white;
    }
    &:disabled svg {
      fill: $danger;
    }
  }

  &-outline-warning {
    svg {
      fill: $warning;
    }
    &:hover svg {
      fill: $white;
    }
    &:disabled svg {
      fill: $warning;
    }
  }

  &-warning {
    color: $white;
    svg {
      fill: $white;
    }
    &:disabled {
      color: $white;
      svg {
        fill: $white;
      }
    }
  }

  &-outline-info {
    svg {
      fill: $info;
    }
    &:hover svg {
      fill: $white;
    }
    &:disabled svg {
      fill: $info;
    }
  }

  &-outline-light {
    svg {
      fill: $light;
    }
    &:hover svg {
      fill: $white;
    }
    &:disabled svg {
      fill: $light;
    }
  }

  &-outline-dark {
    svg {
      fill: $dark;
    }
    &:hover svg {
      fill: $white;
    }
    &:disabled svg {
      fill: $dark;
    }
  }



  &--primary-outline {
    @extend .btn-outline-primary;
    svg {
      fill: $primary;
    }

    &:hover svg {
      fill: $white;
    }

    &:disabled svg {
      fill: $primary;
    }
  }

  &--secondary-outline {
    @extend .btn-outline-secondary;
    svg {
      fill: $gray-600;
    }

    &:hover svg {
      fill: $white;
    }

    &:disabled svg {
      fill: $gray-600;
    }
  }

  &--success-outline {
    @extend .btn-outline-success;
    svg {
      fill: $success;
    }

    &:hover svg {
      fill: $white;
    }

    &:disabled svg {
      fill: $success;
    }
  }

  &--warning-outline {
    @extend .btn-outline-warning;
    svg {
      fill: $warning;
    }

    &:hover svg {
      fill: $white;
    }

    &:disabled svg {
      fill: $warning;
    }
  }

  &--danger-outline {
    @extend .btn-outline-danger;
    svg {
      fill: $danger;
    }

    &:hover svg {
      fill: $white;
    }

    &:disabled svg {
      fill: $danger;
    }
  }
}
