.list-group-item {
  $self: &;

  &--muted {
    @extend .text-muted;
  }

  &--schedules {
    display: flex;
    justify-content: space-between;

    #{ $self } {
      &__product-name {
        font-size: $font-size-sm;
        font-weight: $font-weight-normal;
        color: $gray-600;
      }
      &__schedule-name {
        font-weight: $font-weight-bold;
      }
    }
  }
}
