@mixin bmc-base() {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  padding: 0;
  margin: 0;
  font-family: $bmc-base-font-family;
  font-size: $bmc-base-font-size;
  font-weight: $bmc-base-font-weight;
  line-height: $bmc-base-line-height;
  color: $bmc-base-color;
  text-align: left;
  background-color: $bmc-base-bg-color;

  -webkit-text-size-adjust: 100%; // stylelint-disable-line property-no-vendor-prefix
  -webkit-tap-highlight-color: rgba($bmc-black, 0);
}

@mixin bmc-card() {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $bmc-card-bg-color;
  background-clip: border-box;
  // border: $card-border-width solid $card-border-color;
  // @include border-radius($card-border-radius);
}
