// Colors
$bmc-white:    #fff !default;
$bmc-gray-100: #f8f9fa !default;
$bmc-gray-200: #e9ecef !default;
$bmc-gray-300: #dee2e6 !default;
$bmc-gray-400: #ced4da !default;
$bmc-gray-500: #adb5bd !default;
$bmc-gray-600: #6c757d !default;
$bmc-gray-700: #495057 !default;
$bmc-gray-800: #343a40 !default;
$bmc-gray-900: #212529 !default;
$bmc-black:    #000 !default;

$bmc-blue:    #039be5 !default;
$bmc-indigo:  #6610f2 !default;
$bmc-purple:  #6f42c1 !default;
$bmc-pink:    #e83e8c !default;
$bmc-red:     #e53935 !default;
$bmc-orange:  #fb8c00 !default;
$bmc-yellow:  #ffc107 !default;
$bmc-green:   #43b25c !default;
$bmc-teal:    #20c997 !default;
$bmc-cyan:    #17a2b8 !default;

$bmc-primary:       $bmc-blue !default;
$bmc-secondary:     #8a9197 !default;
$bmc-success:       $bmc-green !default;
$bmc-info:          $bmc-cyan !default;
$bmc-warning:       $bmc-orange !default;
$bmc-danger:        $bmc-red !default;
$bmc-light:         $bmc-gray-100 !default;
$bmc-dark:          $bmc-gray-800 !default;

$bmc-theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$bmc-theme-colors: map-merge(
  (
    "primary":    $bmc-primary,
    "secondary":  $bmc-secondary,
    "success":    $bmc-success,
    "info":       $bmc-info,
    "warning":    $bmc-warning,
    "danger":     $bmc-danger,
    "light":      $bmc-light,
    "dark":       $bmc-dark
  ),
  $bmc-theme-colors
);

// Spacers
$bmc-spacer: .875rem !default;
$bmc-spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$bmc-spacers: map-merge(
  (
    0: 0,
    1: ($bmc-spacer * .25),
    2: ($bmc-spacer * .5),
    3: $bmc-spacer,
    4: ($bmc-spacer * 1.5),
    5: ($bmc-spacer * 3)
  ),
  $bmc-spacers
);

// Options
$bmc-enable-gradients: true !default;

// Baseline values
$bmc-base-font-family: "Roboto", sans-serif !default;
$bmc-base-font-size: .875rem !default;
$bmc-base-font-weight: 400 !default;
$bmc-base-line-height: 1.5 !default;
$bmc-base-bg-color: $bmc-white !default;
$bmc-base-color: $bmc-gray-900 !default;

// Fonts
$bmc-font-weight-light: 300 !default;
$bmc-font-weight-bold: 500 !default;
$bmc-font-size-lg: $bmc-base-font-size * 1.25 !default;
$bmc-font-size-sm: $bmc-base-font-size * .875 !default;

$bmc-base-link-color: $bmc-primary !default;
$bmc-base-link-hover-color: darken($bmc-base-link-color, 15%) !default;
$bmc-base-link-decoration: none !default;
$bmc-base-link-hover-decoration: underline !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$bmc-yiq-contrasted-threshold: 160 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$bmc-yiq-text-dark: $bmc-gray-900 !default;
$bmc-yiq-text-light: $bmc-white !default;

// Cards
$bmc-card-bg-color: $bmc-white !default;
$bmc-card-spacer-y: 7px !default;
$bmc-card-spacer-x: .75rem !default;

$bmc-card-header-bg-color: rgba($bmc-black, .03) !default;
$bmc-card-header-font-weight: 300 !default;

// List Groups
$bmc-list-group-bg-color: transparent !default;
$bmc-list-group-border-color: rgba($bmc-black, .125) !default;
$bmc-list-group-border-width: 1px !default;

$bmc-list-group-item-padding-y: .75rem !default;
$bmc-list-group-item-padding-x: .75rem !default;

// Nav
$bmc-nav-link-padding-y: .5rem !default;
$bmc-nav-link-padding-x: 1rem !default;

$bmc-nav-active-link-color: $bmc-white !default;
$bmc-nav-active-link-bg-color: $bmc-primary !default;

// Buttons
$bmc-button-font-family: $bmc-base-font-family !default;
$bmc-button-font-size: $bmc-base-font-size !default;
$bmc-button-font-weight: 300 !default;
$bmc-button-line-height: $bmc-base-line-height !default;
$bmc-button-color: $bmc-base-color !default;
$bmc-button-border-width: 1px !default;

$bmc-button-padding-y: .375rem !default;
$bmc-button-padding-x: .75rem !default;

$bmc-button-focus-width: .2rem !default;
$bmc-button-focus-color: rgba($bmc-primary, .25) !default;
$bmc-button-focus-box-shadow: 0 0 0 $bmc-button-focus-width $bmc-button-focus-color !default;

$bmc-button-disabled-opacity: .65 !default;
$bmc-button-active-box-shadow: inset 0 3px 5px rgba($bmc-black, .125) !default;

$bmc-button-transition: color .15s ease-in-out, fill .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// Form Group
$bmc-form-group-margin-bottom: .75rem !default;

// Form Controls
$bmc-input-padding-y: .375rem !default;
$bmc-input-padding-x: .75rem !default;
$bmc-input-font-family: $bmc-base-font-family !default;
$bmc-input-font-size: $bmc-base-font-size !default;
$bmc-input-font-weight: $bmc-base-font-weight !default;
$bmc-input-line-height: $bmc-base-line-height !default;

$bmc-input-color: $bmc-gray-900 !default;
$bmc-input-bg-color: $bmc-white !default;
$bmc-input-border-color: #ddd !default;
$bmc-input-hover-border-color: #cfcfcf !default;
$bmc-input-border-width: 1px !default;

$bmc-input-focus-color: $bmc-input-color !default;
$bmc-input-focus-bg-color: $bmc-input-bg-color !default;
$bmc-input-focus-border-color: $bmc-primary !default;
$bmc-input-focus-box-shadow: 0 0 0 3px rgba(3, 155, 229, .1) !default;

$bmc-input-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$bmc-input-placeholder-color: #bdbdbd !default;
$bmc-input-disabled-bg-color: #f9f9f9 !default;

$bmc-input-group-color: $bmc-input-color !default;
$bmc-input-group-bg-color: $bmc-gray-100 !default;
$bmc-input-group-border-color: $bmc-input-border-color !default;

// Spinners
$bmc-spinner-width: 2rem !default;
$bmc-spinner-height: $bmc-spinner-width !default;
$bmc-spinner-width-sm: $bmc-base-font-size !default;
$bmc-spinner-height-sm: $bmc-spinner-width-sm !default;
