@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");

@import "../../node_modules/bootstrap/scss/functions";

$success: #43b25c !default;
$primary: #039be5 !default;
$secondary: #8a9197 !default;
$danger: #e53935 !default;
$warning: #fb8c00 !default;
$gray-900: #212529 !default;
$font-family-sans-serif: "Roboto", sans-serif !default;
$enable-shadows: true !default;
$enable-rounded: false !default;
$list-group-item-padding-x: .75rem !default;
$card-spacer-x: .75rem !default;
$font-size-base: .875rem !default;
$paragraph-margin-bottom: $font-size-base !default;
$spacer: $font-size-base !default;
$font-weight-bold: 500 !default;
$input-color: $gray-900 !default;
$spinner-width-sm: $font-size-base !default;
$input-placeholder-color: #bdbdbd !default;
$input-disabled-bg: #f9f9f9 !default;

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
// @import "../../node_modules/bootstrap/scss/images";
// @import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
// @import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
// @import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/input-group";
@import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/nav";
// @import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
// @import "../../node_modules/bootstrap/scss/breadcrumb";
// @import "../../node_modules/bootstrap/scss/pagination";
// @import "../../node_modules/bootstrap/scss/badge";
// @import "../../node_modules/bootstrap/scss/jumbotron";
// @import "../../node_modules/bootstrap/scss/alert";
// @import "../../node_modules/bootstrap/scss/progress";
// @import "../../node_modules/bootstrap/scss/media";
@import "../../node_modules/bootstrap/scss/list-group";
// @import "../../node_modules/bootstrap/scss/close";
// @import "../../node_modules/bootstrap/scss/toasts";
// @import "../../node_modules/bootstrap/scss/modal";
// @import "../../node_modules/bootstrap/scss/tooltip";
// @import "../../node_modules/bootstrap/scss/popover";
// @import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/utilities";
// @import "../../node_modules/bootstrap/scss/print";

@import "./btn";
@import "./icon";
@import "./list-group";
@import "./spinner";

.card {
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
}

.schedules {
  letter-spacing: .1px;
}

.form-group {
  margin-bottom: .75rem;
}

.form-control {
  border: 1px solid #ddd;
  box-shadow: none;
  &:not(:disabled):hover {
    border-color: #cfcfcf;
  }
}

.site-label {
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  color: $gray-600;
}

.website-schedules {
  &__add {
    margin-top: .75rem;
    margin-bottom: .75rem;
    .card-header {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.operation-error {
  color: $danger;
  word-break: break-word;
}

.card-header {
  padding: 7px .75rem;
  font-weight: 300;
  border-bottom: none;
}

.card-header-pills {
  margin-right: 0;
  margin-left: 0;
}

.vdatetime-popup {
  font-family: $font-family-sans-serif;
  &__title {
    font-size: 18px;
  }
  &__header {
    padding: 1.25rem;
    background-color: $primary;
  }
  &__actions {
    padding: .75rem;
  }
  &__actions__button {
    @extend .btn;
    &--confirm {
      @extend .btn-success;
    }
    &--cancel {
      @extend .btn-warning;
    }
  }
}

.vdatetime-calendar {
  &__month__day {
    &--selected > span > span {
      background-color: $primary;
    }
    &--selected:hover > span span {
      background-color: darken($primary, 7.5%);
    }
  }
}

.vdatetime-month-picker,
.vdatetime-year-picker,
.vdatetime-time-picker {
  &__item {
    &--selected {
      color: $primary;
    }
  }
}

.vue-treeselect {
  $self: &;

  &__control {
    border-radius: 0;
  }

  &__option--disabled {
    #{ $self } {
      &__checkbox-container {
        display: none;
      }
      &__label-container {
        color: $gray-600;
        cursor: pointer;
      }
    }
  }

  &--open-below {
    #{ $self } {
      &__menu {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  &--open-above {
    #{ $self } {
      &__menu {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
